<ion-modal [isOpen]="isOpen" (didDismiss)="close.emit()" [enterAnimation]="enterAnimation"
  [leaveAnimation]="leaveAnimation" class="quote-price-modal">
  <ng-template>
    <ion-header>
      <ion-toolbar class="modal-toolbar">
        <ion-title class="modal-title">Quote Price</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close.emit()" class="modal-close-btn">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <app-quote-price [initialProductName]="productName" [initialItemCode]="itemCode"
      (productSaved)="close.emit()"></app-quote-price>
  </ng-template>
</ion-modal>