<ion-modal [isOpen]="isOpen" (didDismiss)="close.emit()" [enterAnimation]="enterAnimation"
  [leaveAnimation]="leaveAnimation">
  <ng-template>
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Quote Price</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="close.emit()">
            <ion-icon name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <app-quote-price></app-quote-price>
  </ng-template>
</ion-modal>