<ion-content class="coming-soon-wrapper">
  <div class="coming-soon-container">
    <div class="glass-card">
      <div class="icon-ring-wrapper">
        <div class="pulse-ring ring-1"></div>
        <div class="pulse-ring ring-2"></div>
        <div class="icon-inner">
          <ion-icon [name]="iconName"></ion-icon>
        </div>
      </div>

      <div class="badge-status">
        <span>{{ 'COMING SOON' | translate }}</span>
      </div>

      <h1 class="main-title">{{ title | translate }}</h1>
      <p class="sub-description">
        {{ description | translate }}
      </p>

      <button class="action-back-btn" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
        <span>{{ 'Back to Billing' | translate }}</span>
      </button>
    </div>
  </div>
</ion-content>